.actions-container {
	padding: 2rem 3rem;
	margin: 0 auto;
	font-family: sans-serif;
}

.section-title {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	text-align: center;
}

.action-description {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.5rem;
}

.action-event {
	background-color: var(--background-light);
	padding: 1rem;
	border-radius: 10px;
}

body.dark .action-event {
	background-color: var(--background-dark);
}

.action-event-title {
	font-size: 1.3rem;
	font-weight: bold;
}

.action-event-name {
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.action-event-description,
.action-event-details,
.action-invitation-note {
	margin-top: 0.5rem;
	line-height: 1.5;
	font-size: 0.95rem;
}

.action-maps-link {
	color: var(--secondary-color);
	text-decoration: underline;
}

.action-maps-link:hover {
	text-decoration: none;
	opacity: 0.9;
}

.action-maps-link:visited {
	color: var(--secondary-color);
}

body.dark .action-maps-link {
	color: var(--secondary-color);
}

body.dark .action-maps-link:visited {
	color: var(--secondary-color);
}

@media (min-width: 768px) {
	.actions-container {
		padding: 3rem;
		max-width: 900px;
	}

	.action-section-title {
		font-size: 2rem;
		text-align: left;
	}

	.action-description {
		font-size: 1.1rem;
	}

	.action-event {
		margin-top: 3rem;
	}

	.action-event-title {
		font-size: 1.5rem;
	}

	.action-event-name {
		font-size: 1.2rem;
	}

	.action-event-description,
	.action-event-details,
	.action-invitation-note {
		font-size: 1rem;
	}
}
