:root {
	--primary-color: #18421a;
	--secondary-color: #db8e19;
	--tertiary-color: #2e7d32;

	--deep-green: #0a1d0b;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body.light {
	background-color: #fffef7;
	color: #18421a;
	--event-details-bg: #fafafa;
	--important-note: #c62828;
	--event-link-color: var(--tertiary-color);
}

body.dark {
	background-color: #1b1b1b;
	color: #fffef7;
	--event-details-bg: #444444;
	--important-note: #ff5f5f;
	--event-link-color: #81c784;

}

button {
	margin-left: 0.5rem;
	cursor: pointer;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body.banner-visible {
	padding-top: 60px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

h2 {
	font-family: "Nunito", sans-serif;
	color: var(--tertiary-color);
}
