:root {
	--primary-color: #18421a;
	--secondary-color: #db8e19;
	--tertiary-color: #2e7d32;

	--deep-green: #0a1d0b;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

body.light {
	background-color: #fffef7;
	color: #18421a;
	--event-details-bg: #fafafa;
	--important-note: #c62828;
	--tertiary-color-light: var(--tertiary-color);
	--text-color: #222;
	--card-border: #ddd;
	--button-bg: #444;
	--button-hover: #666;
	--link-color: #0077cc;
	--link-hover: #004999;
}

body.dark {
	background-color: #1b1b1b;
	color: #fffef7;
	--event-details-bg: #444444;
	--important-note: #ff5f5f;
	--tertiary-color-light: #81c784;
	--text-color: #fffef7;
	--card-border: #555;
	--button-bg: #888;
	--button-hover: #aaa;
	--link-color: #aadfff;
	--link-hover: #61dafb;

}

button {
	margin-left: 0.5rem;
	cursor: pointer;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body.banner-visible {
	padding-top: 60px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

h2 {
	font-family: "Nunito", sans-serif;
	color: var(--tertiary-color);
}


.page-title {
	text-align: center;
	font-size: 2rem;
	color: var(--primary-color);
	font-weight: bold;
	line-height: 1.2;
	padding: 0 5%;
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	.page-title {
			font-size: 2.5rem;
	}
}