:root {
	--primary-color: #18421a;
	--secondary-color: #db8e19;
	--tertiary-color: #2e7d32;

	--background-light: #f5f5f5;
	--background-dark: #2a2a2a;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body.light {
	background-color: #fffef7;
	color: #18421a;
}

body.dark {
	background-color: #1b1b1b;
	color: #fffef7;
}

button {
	margin-left: 0.5rem;
	cursor: pointer;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body.banner-visible {
	padding-top: 60px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

h2 {
	font-family: "Nunito", sans-serif;
	color: var(--tertiary-color);
}


